@counter-style custom {
  system: fixed;
  symbols: '1' '2' '3' '4' '5' '6' '7' '8' '9';
  suffix: " ";
}

html {
  padding: 0.8em;
}

body {
  max-width: 700px;
  margin: auto;
  font-family: sans-serif;
}

a {
  color: #808080;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

hr {
  border-color: #bfbfbf;
  border-style: solid none none none;
}

hr.double {
  border-color: #bfbfbf;
  border-style: solid none solid none;
  height: 0.3em;
}

ol {
  list-style:custom;
  margin-left: 0;
  padding: 1.5em;
  background: #d3d3d3;
  font-family: monospace;
}

ol li {
  background: #e5e5e5;
  border-left: 1px solid #808080; /*#a52a2a*/
  padding: 0.2em 0.2em 0.2em 1em;
  margin-left: 1.5em;
  color: #808080;
}

ol li:nth-child(odd) {
background-color: #ffffff;
}

pre {
  padding: 0.5em;
  background-color: #e5e5e5;
}
